{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Редагувати проєкт{% else %}Додати проєкт{% endif %}{% endblock %}
{% block content %}
    <h1 class="my-4">{% if form.instance.pk %}Редагувати проєкт{% else %}Додати проєкт{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" class="col-md-8">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Назва проєкту</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Опис</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.screenshot.id_for_label }}" class="form-label">Скріншот</label>
            {{ form.screenshot }}
            {{ form.screenshot.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.link.id_for_label }}" class="form-label">Посилання</label>
            {{ form.link }}
            {{ form.link.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.file.id_for_label }}" class="form-label">Файл</label>
            {{ form.file }}
            {{ form.file.errors }}
        </div>
        <div class="mb-3 form-check">
            {{ form.is_public }}
            {{ form.is_public.label_tag }}
            {% if form.is_public.errors %}
                <div class="alert alert-danger">{{ form.is_public.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
        <a href="{% url 'portfolio:portfolio_list' %}" class="btn btn-secondary">Скасувати</a>
    </form>
{% endblock %}