{% extends 'base.html' %}
{% block content %}
    <h2> Список действий </h2>
    <ul>
        {% for Event in events %}
            <li>
                {{Event.title}} <br> 
                Дата начала: {{Event.start_time}} <br>
                Дата завершения: {{Event.end_time}} <br>
                Описание: {{Event.description}} <br>
                Дата создания: {{Event.creation_time}} <br>
                {% if user.profile.role in 'admin, moderator' %}
                    <a href = '#'> Редактировать </a>
                    <a href = '#'> Удалить </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}